# API key
SECRET_API_KEY=thepasswordyoudontwantotherstoknow

# Debug mode
DEBUG=true

# Models
MODEL_REPO=https://github.com/schutera/pixelwise-model.git
MODEL_VERSION=v1.0
MODEL_PATH=models/digit_classifier_v1.pkl

# Database
DB_PASSWORD=db_password
DATABASE_URL=postgresql://pixelwise:${DB_PASSWORD}@localhost/pixelwise
